extends php, html
snippet php "PHP block"
<?php
	$0
?>
endsnippet

snippet ?? "Inline PHP block"
<?php $0 ?>
endsnippet

snippet ?= "Short PHP echo"
<?= $0 ?>
endsnippet

snippet err "Show all PHP errors"
error_reporting(E_ALL);
ini_set('display_errors', 1);
endsnippet
