snippet vsfc "Single File Vue Component Template"
<template>
	<div class="component">$0</div>
</template>

<script src="./index.js">
</script>

<style lang="scss" src="./styles.scss" scoped>
</style>
endsnippet
